In [1]:
#### Importing all required libraries
import re
import requests
import pandas as pd
from bs4 import BeautifulSoup

#### Requesting the server to get the content of the web page
page = requests.get('https://www.bls.gov/web/empsit/cesbmart.htm')

#### Parsing the html
soup = BeautifulSoup(page.content,'html.parser')

#### Extracting table data using class name
table  = soup.find(class_='regular')

#### Extracting table row elements into list
table_body = table.find('tbody')
table_tr = table_body.find_all('tr')

list_seasonally = []
for month_seasonal in table_tr:
    dict_seasonally={}
    dict_seasonally['Month'] = month_seasonal.text.split('\n')[1].strip()
    dict_seasonally['Levels-As Revised'] = month_seasonal.text.split('\n')[2]
    dict_seasonally['Levels-As Previously Published'] = month_seasonal.text.split('\n')[3]
    dict_seasonally['Levels-Difference'] = month_seasonal.text.split('\n')[4]
    dict_seasonally['Over-the-month Changes-As Revised'] = month_seasonal.text.split('\n')[5]
    dict_seasonally['Over-the-month Changes-As Previously Published'] = month_seasonal.text.split('\n')[6]
    dict_seasonally['Over-the-month Changes-Difference'] = month_seasonal.text.split('\n')[7]
    list_seasonally.append(dict_seasonally)

#### Converting all the extracted elements into dataframe
data_seasonally = pd.DataFrame(list_seasonally) 

#### Printing the data
data_seasonally

,Month,Levels-As Revised,Levels-As Previously Published,Levels-Difference,Over-the-month Changes-As Revised,Over-the-month Changes-As Previously Published,Over-the-month Changes-Difference
0,January,"150,134","150,587",-453,269,312,-43
1,February,"150,135","150,643",-508,1,56,-55
2,March,"150,282","150,796",-514,147,153,-6
3,April,"150,492","151,012",-520,210,216,-6
4,May,"150,577","151,074",-497,85,62,23
5,June,"150,759","151,252",-493,182,178,4
6,July,"150,953","151,418",-465,194,166,28
7,August,"151,160","151,637",-477,207,219,-12
8,September,"151,368","151,830",-462,208,193,15
9,October,"151,553","151,982",-429,185,152,33
10,November,"151,814","152,238",-424,261,256,5
11,December(p),"151,961","152,383",-422,147,145,2

In [2]:
#### Saving the data in to csv file
data_seasonally.to_csv('seasonally.csv')